# Importing the Data Set and performing an initial Analysis

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('Dating_Dataset.csv')
df.head()

   Gender  PurchasedVIP  Income  Children  Age  Attractiveness  Matches
0       0             1   51777         3   47               5       70
1       1             0   36646         0   42               7      130
2       0             0   53801         1   25               5        0
3       0             0   56105         0   35               8        0
4       0             0   55597         1   36               6        0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          1000 non-null   int64
 1   PurchasedVIP    1000 non-null   int64
 2   Income          1000 non-null   int64
 3   Children        1000 non-null   int64
 4   Age             1000 non-null   int64
 5   Attractiveness  1000 non-null   int64
 6   Matches         1000 non-null   int64
dtypes: int64(7)
memory usage: 54.8 KB